@{
    Layout = "~/Views/Shared/_LayoutWithoutWidgets.cshtml";
}

<div class="container-fluid">
    <div class="row h-full">
        <div class="col-3">
            <!-- SEARCH GRID -->
            @*@Html.Partial("~/Views/Module/PE.Lite/MaterialFurnace/_SearchGrid.cshtml")*@
        </div>
        <div class="col d-flex">
            <!-- CONTENT -->
            @*@Html.Partial("~/Views/Module/PE.Lite/MaterialFurnace/_Placeholder.cshtml")*@
        </div>
    </div>
</div>