<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    <section name="ListenerSection" type="PE.DTO.Internal.TcpProxy.Configuration.ListenerSection, PE.DTO" />
    <section name="SenderSection" type="PE.DTO.Internal.TcpProxy.Configuration.SenderSection, PE.DTO" />
  <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 --></configSections>
  <ListenerSection>
    <Listeners>
      <add telegramid="1000" telLength="24" socket="5000" descr="Material Id Request" alive="1" alivecycle="10000" aliveId="-1" aliveOffset="0" aliveLen="22" />
      <add telegramid="2001" telLength="34" socket="5001" descr="Cut information" alive="1" alivecycle="10000" aliveId="-1" aliveOffset="0" aliveLen="22" />
      <add telegramid="2002" telLength="36" socket="5002" descr="Material Division" alive="1" alivecycle="10000" aliveId="-1" aliveOffset="0" aliveLen="22" />
      <add telegramid="2003" telLength="48" socket="5003" descr="Scrap Information" alive="1" alivecycle="10000" aliveId="-1" aliveOffset="0" aliveLen="22" />
      <add telegramid="2004" telLength="26" socket="5007" descr="Material Finished Signal" alive="1" alivecycle="10000" aliveId="-1" aliveOffset="0" aliveLen="22" />
      <add telegramid="3001" telLength="48" socket="5004" descr="Measured values from L1" alive="1" alivecycle="10000" aliveId="-1" aliveOffset="0" aliveLen="22" />
      <add telegramid="3002" telLength="30" socket="5005" descr="Sample based measured values form L1" alive="1" alivecycle="10000" aliveId="-1" aliveOffset="0" aliveLen="22" />
    </Listeners>
  </ListenerSection>
  <SenderSection>
    <Senders>
      <add telegramid="2000" customerTelId="5000" telLength="28" socket="5006" ip="148.56.68.169" descr="Material Identification for L1" alive="0" alivecycle="5000" aliveId="-128" aliveOffset="0" aliveLen="2" />
    </Senders>
  </SenderSection>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
  </startup>
  <connectionStrings configSource="DB.config" />
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.SqlConnectionFactory, EntityFramework" />
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
    </providers>
  </entityFramework>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Ninject" publicKeyToken="c7192dc5380945e7" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-3.3.4.0" newVersion="3.3.4.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-12.0.0.0" newVersion="12.0.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>
