@model PE.HMIWWW.ViewModel.Module.Lite.Products.VM_ProductsOverview
@{
    Layout = "~/Views/Shared/_LayoutWithoutWidgets.cshtml";
}

<div class="container-fluid p-3">
    <div class="row">
        <div class="col-3 grid-filter">
            @Html.Partial("~/Views/Module/PE.Lite/Products/_ProductsSearchGrid.cshtml", Model)
        </div>
        @*<button onclick="showHideCategories()" class="off show-hide-categories btn btn-sm"><i class="arrow arrow-categories arrow-white right"></i></button>*@
        <div class="col-9 element-details" id="ProductsDetails">
            <div class="row justify-content-center plug">
                <div class="col-6 align-self-center">
                    <img src="~/Content/Shared/plug.png" />
                    <p class="mt-5 plug-info">@VM_Resources.INFO_SelectPlugInfo</p>
                </div>
            </div>
        </div>
    </div>
</div>

@Styles.Render("~/Content/Module/Material")
@Scripts.Render("~/Scripts/Module/Products")

