@model PE.HMIWWW.ViewModel.Module.Lite.Material.VM_RawMaterialHistory

<div class="row h-100">
    <div class="col">
        @(Html.Kendo().TabStrip()
            .Name("HistoryBody")
            .Animation(false)
            .HtmlAttributes(new { style = "width: 100%;" })
            .Scrollable(false)
            .Items(tabstrip =>
            {
                tabstrip.Add().Text(VM_Resources.GLOB_Name_Details)
                    .Selected(true).Content(@Html.Partial("~/Views/Module/PE.Lite/RawMaterial/_RawMaterialHistoryDetails.cshtml", Model).ToHtmlString()).ContentHtmlAttributes(new { @class = "partialHeight" });
            })
        )
    </div>
</div>
