@(
    Html.Kendo().Grid<PE.HMIWWW.ViewModel.Module.Lite.Heat.VM_HeatSummary>()
            .Name("SearchGrid")
            .NoRecords(VM_Resources.GLOB_GRID_NO_DATA)
            .Pageable(p => p
                .Refresh(true)
                .Messages(m => m.Display(VM_Resources.GLOB_pagination))
                .PageSizes(true))
            .Sortable()
            .Filterable()
            .Selectable()
            //.Scrollable()
            .HtmlAttributes(new { style = @String.Format("height:{0}px;", 746) })
            .Columns(columns =>
            {
                columns.Bound(c => c.HeatId).Visible(false);
                columns.Bound(c => c.HeatName).HtmlAttributes(new { @class = "nowrap" });
                columns.Bound(c => c.SteelgradeName);
                columns.Bound(c => c.SteelgradeCode).Hidden(true);
                columns.Bound(c => c.SteelGradeDensity).Hidden(true);
                columns.Bound(c => c.MaterialCatalogueName).Hidden(true).HtmlAttributes(new { @class = "nowrap" });
                columns.Bound(c => c.HeatWeightRef).Hidden(true);
                columns.Bound(c => c.IsDummy).Hidden(true);
                columns.Bound(c => c.CreatedTs).Format(PE.HMIWWW.Core.Resources.VM_Resources.GLOB_ShortDateTime_FORMAT).Hidden(true).HtmlAttributes(new { @class = "nowrap" });
            })
            .ToolBar(toolbar =>
            {
                toolbar.Template(@<text>
                                <div class="refreshBtnContainer" onclick="showHideCategories()">
                                    <p class="k-pager-refresh k-link off show-hide-categories m-0">
                                        <span class="filters-text more">@VM_Resources.NAME_MoreFilters</span> <span class="filters-text less">@VM_Resources.NAME_LessFilters</span>
                                        <span class="arrow arrow-categories arrow-white k-icon k-i-arrow-right"></span>
                                    </p>
                                </div>
                </text>);
        }
        )
     .DataSource(d => d
         .Ajax()
         .ServerOperation(true)
         .PageSize(26)
         .Sort(sort => sort.Add("HeatId").Descending())
         .Read(r => r.Action("GetHeatSearchList", "Heat"))
         .Events(e => e.Change("dataSourceChange"))
     )
     .Events(e =>
                    {
         e.Change("onElementSelect");
         //e.DataBinding("loadDataForGrid");
         //e.DataBound("selectRowAfterBack");
     })


)
