<div class="logos-box">
  <img alt="Primetals logo" class="logo prime" src="~/Content/System/img/primetals.png" />
  <img alt="Expert logo" class="logo" title="SMF version: @SMF.Core.Framework.GetFrameworkVersion()&#013;Publish Date:" src="~/Content/System/img/expert-logo.png" />
  @*<img alt="Customer logo" style="float: right; max-width: 30%; height: 30px;padding-left: 30px;" src="~/Content/System/img/customer.png" />*@
</div>
<div class="clearfix"></div>