<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      xsi:schemaLocation="http://www.nlog-project.org/schemas/NLog.xsd NLog.xsd"
      autoReload="true"
      throwExceptions="false"
      internalLogLevel="Off" internalLogFile="c:\temp\nlog-internal.log">

  <!-- optional, add some variables
  https://github.com/nlog/NLog/wiki/Configuration-file#variables
  -->
  <variable name="myvar" value="myvalue"/>

  <!--
  See https://github.com/nlog/nlog/wiki/Configuration-file
  for information on customizing logging rules and outputs.
   -->
  <targets>
		<target name="file" type="File" archiveAboveSize="10000001" archiveNumbering="Sequence" maxArchiveFiles="99999" archiveFileName="D:/log/HMI_WWW/HMI_WWW_{#####}.txt" fileName="D:/LR/log/HMI_WWW/HMI_WWW.txt" layout="${date:format=yyyy\:MM\:dd, HH\:mm\:ss} ${level:padding=5:uppercase=true} ${message}"/>
		<target name="fileexc" type="File" archiveAboveSize="10000000" archiveNumbering="Sequence" maxArchiveFiles="99999" archiveFileName="D:/log/HMI_WWW/HMI_WWW_{#####}.txt" fileName="D:/LR/log/HMI_WWW/HMI_WWW.txt" layout="${date:format=yyyy\:MM\:dd, HH\:mm\:ss} ${level:padding=5:uppercase=true} ${newline} ${message}"/>
  </targets>

  <rules>
		<logger name="WWW" writeTo="file" final="true"/>
		<logger name="EXC" writeTo="fileexc" final="true"/>
  </rules>
</nlog>
