<?xml version="1.0" encoding="utf-8"?>
<configuration>
	<configSections>
		<section name="ProcessesSection" type="SMF.Watchdog.Configuration.ProcessesSection, SMF.Watchdog"/>
	</configSections>


	<ProcessesSection>
		<Processes aliveCheckPeriod="500">
			<add procname="hmi" keepalive="true" processDescription="HMI">
				<!--NotifyPrograms>
          <add procname="tcpproxy"/>
		  <add procname="dbhandler"/>
		  <add procname="opchandler"/>
          <add procname="tracking"/>
          <add procname="hmi"/>
        </NotifyPrograms-->
			</add>
			<add procname="moduleA" keepalive="true" processDescription="ModuleA">
				<NotifyPrograms>
          <add procname="moduleB"/>
        </NotifyPrograms>
			</add>
			<add procname="moduleB" keepalive="true" processDescription="ModuleB">
				<NotifyPrograms>
					<add procname="moduleA"/>
				</NotifyPrograms>
			</add>

		</Processes>
	</ProcessesSection>
	<startup>
		<supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2"/>
	</startup>
</configuration>
