<connectionStrings>
	<add name="SMFContext" providerName="System.Data.SqlClient" connectionString="Server=KRAZA-SVR0002;Database=LR;Trusted_Connection=false;User Id=smerf;Password=Smerf.;"/>
	<add name="SRCContext" providerName="System.Data.SqlClient" connectionString="Server=KRAZA-SVR0002;Database=LR;Trusted_Connection=false;User Id=smerf;Password=Smerf.;"/>
	<add name="DefaultConnection" providerName="System.Data.SqlClient" connectionString="Server=KRAZA-SVR0002;Database=LR;Trusted_Connection=false;User Id=smerf;Password=Smerf.;"/>
</connectionStrings>