<?xml version="1.0" encoding="utf-8" ?>
<connectionStrings>
  <add name="SMFContext" connectionString="metadata=res://*/Model.Model.csdl|res://*/Model.Model.ssdl|res://*/Model.Model.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=localhost;initial catalog=PE_Lite_ShiGangSBM;user id=sa;password=Primetals.;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
  <!--add name="DefaultConnection" providerName="System.Data.SqlClient" connectionString="Server=148.56.68.169;Database=PE_Lite;Trusted_Connection=false;User Id=sa;Password=Primetals.;" /-->
  <add name="DefaultConnection" providerName="System.Data.SqlClient" connectionString="Server=localhost;Database=PE_Lite_ShiGangSBM;Trusted_Connection=false;User Id=sa;Password=Primetals.;" />
  <add name="PEContext" providerName="System.Data.EntityClient" connectionString="metadata=res://*/Models.Models.csdl|res://*/Models.Models.ssdl|res://*/Models.Models.msl;provider=System.Data.SqlClient;provider connection string='data source=localhost;initial catalog=PE_Lite_ShiGangSBM;integrated security=False;user id=sa;password=Primetals.;MultipleActiveResultSets=True;App=EntityFramework'"/>
  <add name="LREntities" connectionString="metadata=res://*/LREntity.csdl|res://*/LREntity.ssdl|res://*/LREntity.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=localhost;initial catalog=PE_Lite_ShiGangSBM;persist security info=True;user id=sa;password=Primetals.;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient"/>
</connectionStrings>