<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" >
 
  <!--
  Trace - Very detailed log messages, potentially of a high frequency and volume
  Debug -Less detailed and/or less frequent debugging messages
  Info - Informational messages
  Warn - Warnings which don't appear to the user of the application
  Error - Error messages
  Fatal - Fatal error messages. After a fatal error, the application usually terminates.
  -->
  
  <targets>
    <target name="console" xsi:type="ColoredConsole" layout=" ${date:format=HH\:mm\:ss}  ${message}" />
    <target name="consoleClear" xsi:type="ColoredConsole" layout="${message}" />
    <target name="fileClear" xsi:type="File" archiveAboveSize="10000000" archiveNumbering="Sequence" maxArchiveFiles="99999" archiveFileName="../log/${processname:lowercase=true}/${processname:lowercase=true}_{#####}.txt" fileName="../log/${processname:lowercase=true}/${processname:lowercase=true}.txt" layout="${date:format=yyyy\-MM\-dd, HH\:mm\:ss.fff} ${level:padding=5:uppercase=true} ${message}" />
    <target name="file"      xsi:type="File" archiveAboveSize="10000000" archiveNumbering="Sequence" maxArchiveFiles="99999" archiveFileName="../log/${processname:lowercase=true}/${processname:lowercase=true}_{#####}.txt" fileName="../log/${processname:lowercase=true}/${processname:lowercase=true}.txt" layout="${date:format=yyyy\-MM\-dd, HH\:mm\:ss.fff} ${level:padding=5:uppercase=true} ${stacktrace} ${message}" />
  </targets>

  <rules>
    
    <logger name="simpleText" minlevel="Info" writeTo="consoleClear" final="true" />
    <logger name="exception" minlevel="Info" writeTo="file" final="true" />
    <logger name="hex" minlevel="Info" writeTo="file" final="true" />
    <logger name="*" minlevel="Info" writeTo="console" />
    <logger name="*" minlevel="Info" writeTo="fileClear" />
    <!--<logger name="*" minlevel="Trace" maxlevel="Debug" writeTo="file" final="true"/>-->

  </rules>
</nlog>