<?xml version="1.0" encoding="utf-8" ?>
<ProcessesSection>
  <Processes aliveCheckPeriod="500">
    <add procname="hmi" keepalive="true" processDescription="HMI">
      <NotifyPrograms>
        <add procname="Adapter"/>
        <add procname="DBAdapter"/>
        <add procname="ProdManager"/>
        <add procname="ProdPlaning"/>
        <add procname="Delays"/>
        <add procname="MVHistory"/>
        <add procname="Tracking"/>
        <!--<add procname="TcpProxy"/>-->
        <add procname="WalkingBeamFurnance"/>
        <add procname="Setup"/>
        <add procname="ZebraPrinterConnector"/>
      </NotifyPrograms>
    </add>
    <add procname="Adapter" keepalive="true" processDescription="Adapter">
      <NotifyPrograms>
        <add procname="DBAdapter"/>
        <add procname="hmi"/>
      </NotifyPrograms>
    </add>
    <add procname="DBAdapter" keepalive="true" processDescription="DBAdapter">
      <NotifyPrograms>
        <add procname="Adapter"/>
        <add procname="hmi"/>
      </NotifyPrograms>
    </add>
    <add procname="ProdManager" keepalive="true" processDescription="ProdManager">
      <NotifyPrograms>
        <add procname="Adapter"/>
        <add procname="hmi"/>
      </NotifyPrograms>
    </add>
    <add procname="Tracking" keepalive="true" processDescription="Tracking">
      <NotifyPrograms>
        <add procname="MVHistory"/>
        <add procname="hmi"/>
      </NotifyPrograms>
    </add>
    <add procname="WalkingBeamFurnance" keepalive="true" processDescription="WalkingBeamFurnance">
      <NotifyPrograms>
        <add procname="MVHistory"/>
        <add procname="hmi"/>
      </NotifyPrograms>
    </add>
    <add procname="ProdPlaning" keepalive="true" processDescription="ProdPlaning">
      <NotifyPrograms>
        <add procname="hmi"/>
      </NotifyPrograms>
    </add>
    <add procname="Delays" keepalive="true" processDescription="Delays">
      <NotifyPrograms>
        <add procname="hmi"/>
      </NotifyPrograms>
    </add>
    <add procname="MVHistory" keepalive="true" processDescription="MVHistory">
      <NotifyPrograms>
        <add procname="hmi"/>
      </NotifyPrograms>
    </add>
    <!--<add procname="TcpProxy" keepalive="true" processDescription="TcpProxy">
      <NotifyPrograms>
        <add procname="hmi"/>
        <add procname="Adapter"/>
      </NotifyPrograms>
    </add>-->
    <add procname="Setup" keepalive="true" processDescription="Setup">
      <NotifyPrograms>
        <add procname="hmi"/>
      </NotifyPrograms>
    </add>
    <add procname="ZebraPrinterConnector" keepalive="true" processDescription="ZebraPrinterConnector">
      <NotifyPrograms>
        <add procname="hmi"/>
      </NotifyPrograms>
    </add>
  </Processes>
</ProcessesSection>